scripts/
.DS_Store
.env
__pycache__/
cache_directory/
.vscode/
.ipynb_checkpoints/
all_tags.json
all_tags.csv
.ruff_cache

*.pickle
.python-version
tags.yaml
user_profile.json
publications.yaml

config.py
